.content {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;

    padding-bottom: 2rem;
    padding-top: 2rem;
    
    text-align: center;
}

.top-container {
    background-color: #393e46;
}

.right-cloud-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.left-cloud-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
}
  
.middle-container {
    background-color: #393e46;
}
  
.bottom-container {
    background-color: #66BFBF;
}

.profile {
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
}

.button-container {
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.skills {
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: column;
}